*

!DCGAN.py
!WaveGAN.py
!requirements.txt

!analysis_and_statistics/
!analysis_and_statistics/**
!dcgan_src/
!dcgan_src/**
!wavegan_src/
!wavegan_src/**
!.gitignore

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
dcgan_src/config_template.json
wavegan_src/config_template.json